{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Typing test</title>

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <header>
        <nav>
            <a id="logo-box" href="{% url 'home' %}">
                <div id = "title">Typing Test</div>
                <div>Are you really as quick as you say?</div>
            </a>
            <div id="nav-box">
                {% if request.user.is_authenticated %}
                <p id="display-user">Logged in as {{request.user}}</p>
                <a href="{% url 'logout' %}" class="header-button">Logout</a>
                {% else %}
                <a href="{% url 'login' %}" id="login_button" class="header-button">LOGIN</a>
                <div class="header-divider">|</div>
                <a href="{% url 'register' %}" id="signup_button" class="header-button">SIGN UP</a>
                {% endif %}
            </div>
        </nav>
    </header>
    <div id="progress-bar">
        <div id="progress"></div>
    </div>
    <div id="text-box">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus excepturi, dolores itaque ad harum expedita vero blanditiis autem qui quam quis consectetur iusto id, facilis sint obcaecati incidunt adipisci repudiandae.</div>
    <div id="input-box" contenteditable="True"></div>
</body>
</html>
