{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}
<div>
    <form method="POST", action="">
        {% csrf_token %}

        <label>Username:</label>
        <input type="text" name="username" placeholder="Enter Username">

        <label>Password:</label>
        <input type="password" name="password" placeholder="Enter Password">

        <input type="submit" value="Login" />
    </form>

    <a href="{% url 'register' %}">Sign Up</a>
</div>
{% else %}
<div>
    <form method="POST">
        {% csrf_token %}
        <table>
            {{form.as_table}}
            <!--
            <tr>
                <td></td>
                <td> <input type="submit" value="Register" /> </td>
            </tr>
            -->
            <div id="login-box">
                <input class = "user-input" placeholder="Username"></input>
                <input class = "user-input" type="password" placeholder="Password"></input>
                <input class = "user-input" type="password" placeholder="Confirm Password"></input>
            <div id="login-button">Sign up</div>
    </div>
        </table>
    </form>

</div>
{% endif %}



{% endblock %}