{% extends 'main.html' %}

{% block content %}

<!--If statement to display either Login page or signup-->
{% if page == 'login' %}
<div>
    <form method="POST", action="">
        {% csrf_token %}
        <!--Login form-->
        <div class="login-box">
            <input class="user-input" type="text" placeholder="Username" name="username">
            <input class="user-input" type="password" placeholder="Password" name="password">
            <div>
                <input class="login-button" type="submit" value="Login" />
            </div>

        </div>
    </form>
</div>
{% else %}
<div>
    <form method="POST">
        {% csrf_token %}
        <!--Signup form that only works with no closing-->
        <div class="login-box">
            <input class="user-input" placeholder="Username" action="{{form.username}}
            <input class="user-input" placeholder="Password" type="password" action="{{form.password1}}
            <input class="user-input" placeholder="Confirm Password" type="password" action="{{form.password2}}
            <div>
                <input class="login-button" type="submit" value="Sign Up" />
            </div>
        </div>
    </form>
</div>
{% endif %}



{% endblock %}