{% extends 'main.html' %}

{% block content %}



    <div id="leaderboard-container">
        <!--Display scores from database-->
        <div class="ltext-box">
            <h3 align="center">Leaderboard</h3>
            <div align="center">

                 <a href="{% url 'scoreboard_daily' %}" class="leaderboard-button" >Daily</a>
                <div class="leaderboard-divider">|</div>
                <a href="{% url 'scoreboard_weekly' %}" class="leaderboard-button">Weekly</a>
                <div class="leaderboard-divider">|</div>
                <a href="{% url 'scoreboard' %}" class="leaderboard-button" >All-Time</a>
                <h5 class="scores-logged">{{score_count}} scores logged</h5>
            </div>

                <table>
                    <tr>
                        <th>Username</th>
                        <th>Accuracy</th>
                        <th>WPM</th>
                        <th>Date</th>
                    </tr>
                    {% for score in scores %}
                    <tr>
                        <td>{{score.name.username}} </td>
                        <td>{{score.accuracy}} </td>
                        <td>{{score.typing_speed}}</td>
                        <td>{{score.created}}</td>


                    </tr>
                     {% endfor %}
                    <!-- <span>{{score.name.username}} {{score.typing_speed}} Accuracy: {{score.accuracy}}--></span>
                </table>

        </div>

    </div>

{% endblock %}
<footer>

</footer>